@import url("https://fonts.googleapis.com/css2?family=Lustria&family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* Header Section Styles Start */
header {
  background: url(../img/banner/banner3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
}
.banner-text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  text-align: end;
  position: absolute;
  right: 250px;
  top: 220px;
}
.header-title {
  font-weight: bolder;
  font-size: 60px;
  color: #000;
}
.header-description {
  width: 370px;
  color: #000;
  margin: 35px 0;
}
.primary-btn {
  border: none;
  font-size: 16px;
  padding: 15px 22px;
  border-radius: 5px;
  background-color: #f15b22;
  color: #fff;
  cursor: pointer;
  width: 150px;
}
.primary-btn:hover {
  background-color: #c5410de8;
  transition: 0.3s;
}
/* Header Section Styles End */
main {
  max-width: 1100px;
}

/* Failure Section Style Start */
.failures-section {
  background: url(../img/person.png) no-repeat;
  height: 700px;
  display: flex;
  background-position: 370px;
  margin-top: 200px;
}
.failures-content {
  position: absolute;
  right: 250px;
  margin-top: 200px;
  margin-right: 450px;
}
.failures-section .header-title {
  font-size: 45px;
  font-weight: bolder;
}
.failures-list i {
  color: #16d887;
}
.failures-content .header-description,
.failures-list {
  line-height: 25px;
}
/* Failure Section Styles End */

/* My Plans Section Styles Start */

.my-plans h2 {
  font-size: 40px;
  text-align: end;
  margin-top: 150px;
  margin-bottom: 100px;
  font-weight: bolder;
}
.plans-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 150px;
  padding-left: 550px;
}
.plans h3 {
  font-weight: bolder;
  font-size: 25px;
}
.plans p {
  font-weight: lighter;
  font-size: 25px;
}

.mindset {
  background: url(../img/watch.png), url(../img/gradient1.png);
  width: 1200px;
  height: 300px;
  background-size: cover;
  margin: 100px 45%;
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  padding: 60px 50px;
}
.mindset h3 {
  color: #fff;
  font-size: 34px;
  padding-bottom: 25px;
}
.secondary-btn {
  color: #005fac;
  padding: 15px 30px;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.secondary-btn:hover {
  color: #fff;
  background-color: #005fac;
  transition: 0.3s;
}

/* Footer Section Styles Start */
.footer-section {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 100px 380px;
  background: #000;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
}
.section-title {
  font-weight: bolder;
  font-size: 30px;
  margin-bottom: 20px;
}
.section-description {
  width: 500px;
  color: #f6e9e9cb;
  padding-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
}
.section-sub-description {
  margin-bottom: 10px;
  margin-top: 20px;
}
.section-description a {
  text-decoration: none;
  color: #f6e9e9cb;
}
.social-icons {
  display: flex;
  gap: 20px;
}

.suscribe-container input[type="email"] {
  border: 1px solid #fff;
  border-radius: 5px;
  background: transparent;
  padding: 14px 18px;
  margin-bottom: 25px;
  width: 100%;
  color: #fff;
}
.btn .btn-primary {
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  color: #cd1d1d;
}
.suscribe-container input[type="submit"] {
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 5px;
  background: #005fac;
  color: #fff;
}
.suscribe-container input[type="submit"]:hover {
  background: #0e3252;
  transition: 0.3s;
}
/* Footer Section Styles End */
